@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0px 40px;
} 

.pages{
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.pages>li>a{
    text-decoration: none;
    color: coral;
    font-size: 20px;
}

.pages>li>a:hover{
    background-color: coral ;
    color: rgb(206, 216, 234);
    border-radius: 12px;
    padding: 8px 10px;
    transition: 0.3s;
    
}

.Logo{
    list-style: none;
    color: coral;
    display: flex;
    justify-content:center;
}

.Logo>li>img{
    width: 100px;
    padding-right: 20px;
}

.Search{
    list-style: none; 
    padding: 20px;
}

.Search>li{
    display: flex;
    justify-content: center;
}

.Search> li>img{
    width: 30px;

}

.Search> li >input{
    width: 250px;
    padding: 12px 16px;
    border-radius: 32px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    border: 1px solid #ccc;
}
.Search> li >input:focus{
    border-color: rgb(220, 136, 105);
    box-shadow: 0 0 0 2px rgb(238, 76, 17);
}

/* navigation bar end */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 81, 36);
    margin: 0px 40px;
    border-radius: 12px;
    padding: 30px;
}
.hero-img{
    width: 50%;
}
.hero-img> img{
    width: 100%;
}

.hero-right{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.hero-right>h1{
    font-size: 50px;
    color: rgb(201, 197, 193);

}

.hero-right>p{
    font-size: 20px;
    color: rgb(201, 197, 193);
    padding-bottom: 20px;
    
}

.button{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.primary{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(175, 175, 41);
    padding: 10px;
    border-radius: 24px;
    border:none;
}

.primary:hover{
    background-color: rgb(36, 81, 36);
    transition: 0.3s;
    border: 1px solid rgb(175, 175, 41);
}

.primary>img, .secondary>img{
    width: 20px;
}

.secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 24px;
    border:1px solid rgb(175, 175, 41);
    color:rgb(175, 175, 41) ;
    background-color: rgb(36, 81, 36);
}

.secondary:hover{
    background-color:rgb(175, 175, 41);
    transition: 0.3s;
    border: 1px solid rgb(36, 81, 36);
    color: black;
}


/*  hero section  */


/* category*/

.container{
    margin: 50px 40px;
    display: flex;
    flex-direction: column;

}
.category-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.arrows>img{
    width: 30px;
}
.category-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
}
.category-card>img{
    width: 200px;
    border-radius: 12px;
}
.category-card>p{
    font-size: 20px;
}
.category-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* category end*/

/* banner*/

.banner{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 50px 40px;
}



.vegetables, .strawberries{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.right-veg>h3,.right-stra >h3{
    font-size: 30px;
    color: rgb(116, 18, 37);
}

.right-veg>a, .right-stra>a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 110px;
    padding: 10px;
    border-radius: 20px;
}

.right-veg>a{
    background-color: rgb(124, 68, 68);
    color: aliceblue;
}

.right-stra>a{
    background-color: rgb(241, 17, 36);
    color: aliceblue;
}

.cart{
    width: 20px;
}

.left{
    width: 400px;
}

/* banner end*/




